# Projeto 1 - Ciência dos Dados

Nome: _____

Nome: _____

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [3]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [4]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Rocketz\Documents\GitHub\Projeto_1-Cdados

Carregando a base de dados com os tweets classificados como relevantes e não relevantes:

In [5]:
filename = 'Tesla_pronto.xlsx'

In [6]:
train = pd.read_excel(filename)
train.head(5)

                                         Treinamento  Relevancia
0                  @danielarpm tesla, sem hesitação.           0
1  @odlareg23 novo mundo, meu amigo. veja a amazo...           1
2  pra namorar comigo, tem que pelo menos amar o ...           0
3                         eu sou fanatica pelo tesla           0
4  cara que baguiu chave man, tesla era um cara i...           0

In [7]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  Relevancia
0  @pjfdf @blnarymlke @_tuaregue_ isso de certeza...           1
1             caralho nikolas tesla era mo pau no cu           0
2  @tiago86castro olha que qnd andar de cajata já...           0
3  novo status: pessoas que visitaram meu perfil ...           0
4  tesla: banco americano prevê lucro maior e car...           1

In [8]:
import re 

def cleanup(text):
    """
        Função de limpeza muito simples que troca alguns sinais básicos por espaços
    """
    #import string
    punctuation = '[!-.:?;"\n"()''"",_%$\|/,<>]'
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    
    #filtro que remove as menções à usuários com @
    filtro = filter(lambda x:x[0]!='@', text_subbed.split())
    juncao = " ".join(filter(lambda x:x[0]!='@', text_subbed.split()))
    
    return juncao

In [9]:
train['Treinamento'] = train['Treinamento'].apply(cleanup)

In [28]:
filtra_linhas = train['Relevancia'] == 1
relevante=train.loc[filtra_linhas, :]
relevante[['Treinamento']]

                                           Treinamento
1    @odlareg23 novo mundo, meu amigo. veja a amazo...
7                            mano imagina ter um tesla
11   super carros adiciona as duas novidades à sua ...
13             não acredito que estou a andar de tesla
15   o robô deveria auxiliar os humanos em atividad...
..                                                 ...
281  meta é ir em direção ao horizonte com o tesla ...
285  em 2025 a vw quer disponibilizar em algumas ci...
288  qq a tesla quer com esses robozao? exterminar ...
290  alias, a palavra 'brilho' hj remonta antes aos...
296  projeto de robô da tesla levanta questões sobr...

[102 rows x 1 columns]

In [29]:
lista = []
lista2=[]
for a in relevante:
    lista.append(a)
for a in lista:
    lista2.append(cleanup(a))

___
## Classificador automático de sentimento

Faça aqui uma descrição do seu produto e o que considerou como relevante ou não relevante na classificação dos tweets.

ESCREVA AQUI...

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Trabalhos que conseguirem pelo menos conceito B vão evoluir em conceito dependendo da quantidade de itens avançados:

* IMPLEMENTOU outras limpezas e transformações que não afetem a qualidade da informação contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separação de espaços entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adição de mais tweets na base, conforme enunciado. (OBRIGATÓRIO PARA TRIOS, sem contar como item avançado)
* EXPLICOU porquê não pode usar o próprio classificador para gerar mais amostras de treinamento
* PROPÔS diferentes cenários para Naïve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGATÓRIO para conceitos A ou A+)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**